@model CategoryAddRequest

@{
    ViewBag.Title = "Create Category";
}

<!-- breadcrumb starts -->
<div class="flex">
    <div class="flex-1">
        <div class="text-grey">
            <span>Categories</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Category</span>
            <i class="fa-solid fa-caret-right"></i>
            <span class="text-grey">Create</span>
        </div>
    </div>
</div>
<!-- breadcrumb ends -->



<div class="form-container">

    <a asp-controller="Categories" asp-action="CategoriesIndex" class="link-hover">Back to Categories List</a>

    <h2 class="text-large">Create Category</h2>

    <form asp-controller="Categories" asp-action="CreateCategory" method="post">

        @*PersonName*@
        <div class="form-field flex">
            <div class="w-25">
                <label asp-for="CategoryName" class="form-label pt">Category Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="CategoryName" class="form-input" />
                <span asp-validation-for="CategoryName" class="text-red"></span>
            </div>
        </div>


       
        @*Submit*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-green-back">Create</button>

                <div asp-validation-summary="All" class="text-red"></div>

                @if (ViewBag.Errors != null)
                {
                    <div class="text-red ml">
                        <ul>
                            @foreach (string error in ViewBag.Errors)
                            {
                                <li class="ml">@error</li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>

    </form>
</div>

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}